{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
      <!-- Customise website appearance -->
      <form method="POST" enctype="multipart/form-data">
            <label for="title">Display Title:</label>
            <input type="text" id="displayname" name="displayname" placeholder="{{displayname}}" required><br><br>
            
            <label for="background">Display Background (File must be named 'background.jpg'):</label>
            <input type="file" id="background" name="background" accept="image/*"><br><br>
            
            <input type="submit" value="Post">
      </form>
{% endblock %}