{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
      <!-- dashboard for the challenges -->
     <div class="dashboard-grid">

        <div class="card">
            <h3>User dashboard</h3>
            <p>View your user information</p>
            <a href="/user-dash" class="action-btn">Open User dashboard</a>
        </div>

        <div class="card">
            <h3>Staff dashboard</h3>
            <p>View staff information</p>
            <a href="/staff-dash" class="action-btn">Open Staff dashboard</a>
        </div>
    </div>
{% endblock %}