<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0    ">
    <title>login User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>  
    <h1>Welcome to the clinic Waiting page </h1>
    
    <!-- navigation bar -->
    <div class="topnav">
        <span class="brand">User Dashboard</span>
        <a href="{{ url_for('index') }}">Back to Home</a>
        <a href="{{ url_for('register_user') }}">register an account</a>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#">Accessibility</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
            </div>
        </div>
    </div>
    </div>
    <div class="login-form">
        <h2>User Login</h2>
        <form method="POST" action="{{ url_for('login_user') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
    