{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="card">
            <h3>Manage Queue</h3>
            <p>View users in the queue</p>
            <a href="/manage-queue" class="action-btn">Open queue dashboard</a>
        </div>

        <div class="card">
            <h3>Manage Bookings</h3>
            <p>View user bookings</p>
            <a href="/manage-bookings" class="action-btn">Open user bookings</a>
        </div>
        
        <div class="card">
            <h3>Customise</h3>
            <p>Customise the website's appearance.</p>
            <a href="/customise" class="action-btn">Open customisation</a>
        </div>
    </div>
{% endblock %}