<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0    ">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>  
    <h1>Welcome to the clinic Waiting page </h1>
    
    <!-- navigation bar -->
    <div class="topnav">
        <span class="brand">User Dashboard</span>
         <a href="{{ url_for('index') }}">Back to Home</a>
         <a href="{{ url_for('logout') }}" style="float: left;">Logout</a>
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="#">Accessibility</a>
                <a href="#" onclick="document.body.classList.add('dark-mode'); return false;">Dark Mode</a>
                <a href="#" onclick="document.body.classList.remove('dark-mode'); return false;">Light Mode</a>
            </div>
        </div>
    </div>
    </div>

    <!-- User Information Section -->

        <div class="card">
            <h3>Book an Appointment</h3>
            <p>schedule an Appointment at a select time and date</p>
            <a href="/appointment-dash" class="action-btn">book an appoitment</a>
        </div>

        <div class="card">
            <h3>See a doctor now</h3>
            <p>View your current waiting status</p>
            <a href="/wait-dash" class="action-btn">Join queue</a>
        </div>
    </div>