{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- User Information Section -->

        <div class="card">
            <h3>Book an Appointment</h3>
            <p>schedule an Appointment at a select time and date</p>
            <a href="/book" class="action-btn">book an appoitment</a>
        </div>

        <div class="card">
            <h3>See a doctor now</h3>
            <p>View your current waiting status</p>
            <a href="/wait-dash" class="action-btn">Join queue</a>
        </div>
    </div>
{% endblock %}